.banner{
    background-image: linear-gradient(to bottom right,white,rgb(217, 255, 205));
    min-height: 100vh;
}

.community{
    background-image: linear-gradient(to bottom, white, rgb(237, 252, 252));
}

.mobile{
    background-color: rgb(216, 248, 252);
}